@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background: #017143;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}

.texto {
    width: 600px;
    align-items: center;
}

.copo-gg {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.imagem-copo {
    width: 280px;
    margin-top: 30px;
    display: flex;
}

.logo {
    width: 80px;
}

.menu {
    display: flex;
    justify-content: center;
}

.botao-menu {
    width: 60px;
    
}

.botao-menu:hover {
    transform: translateY(-25px);
    transition: 1s;
    cursor: pointer;
}

.circulo {
    position: absolute;
    background: #017143;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}